.simple-modal,
.simple-modal p,
.simple-modal h1,
.simple-modal h2,
.simple-modal h3,
.simple-modal h4,
.simple-modal h5,
.simple-modal h6,
.simple-modal label,
.simple-modal input
{
  color: #fff;
}

.simple-modal input
{
  background-color: #555;
  padding: 8px 16px;
  outline: none;
  border: 1px solid #aaa;
}

.simple-modal input:focus
{
  border: 1px solid #fff;
}

.simple-modal a
{
  color: #eee;
}

.simple-modal-background
{
  background-color: #eee;
  opacity: 0.4;
}

.simple-modal
{
  background-color: #666;
  opacity: 1;
  box-shadow: 5px 5px 10px #aaa;
}

.simple-modal .simple-modal-body::-webkit-scrollbar-track
{
  background-color: #fff;
}

.simple-modal .simple-modal-body::-webkit-scrollbar
{
  width: 4px;
  background-color: #fff;
}

.simple-modal .simple-modal-body::-webkit-scrollbar-thumb
{
  background-color: #555;
  border: 1px solid #555;
}

.simple-modal-buttons button
{
  border: 1px solid #fff;
  background-color: transparent;
}

.simple-modal-buttons button:hover
{
  background-color: #fff;
  color: #666;
}